* {
	margin: 0;
}

nav li{
	text-decoration: none;
	display: inline-block;

}

.nav2 {
	color:#2f4cf5;

}

.navbar{
	background-color: #393e52;
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-between;
	padding: .0625rem;
	margin-bottom: 5rem;
}

nav li {
	padding-right: 1rem;
}

section{
	
	background-color: #2f4cf5;
	align-items: center;
	justify-content: center;
}

.box {
	display: flex;
	border-style: solid;
	border-color: white;
	color: white;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-right: 0rem;
	padding-left: 0rem;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 1rem;
}

body {
	background-color: #2f4cf5;

}

.lorem {
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;

}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.button a {
	background-color: white;
	color:#2f4cf5;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 5px;

}